.container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
.blackboard
{
    height: 350px;
    width: 250px;
    background-color: rgb(61, 59, 59);
    border-radius: 6px;
    display: flex;
    align-items: center;
}
}
.toggle
{
    width: 50px;
    height: 65px;
    border-radius: 42%;
    background-color: rgb(167, 158, 158);
    border:2px solid #49def8;
}
.controls{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 50%;
    border-right: 3px solid black;
  }

  .sliderdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 50%;
  }
.slider {
    -webkit-appearance: none;
    width: 200px; /* Set the width to stretch across the container */
    height: 20px; /* Set the height to make it vertical */
    background: #49def8;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 20px;
    position: relative;
    transform: rotate(-90deg); /* Rotate the slider */
    border: 10px solid rgb(84, 83, 83);
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #343636;
    cursor: pointer;
    position: relative;
    
  }
  
  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
    position: relative;
    left: calc(50% - 12.5px); /* Position the thumb horizontally centered */
    bottom: -5px; /* Adjust the position of the thumb */
  }


